/*---- Deafault settings ----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 7em auto;
    background-color: #e6ce96;
}

/*---- team-info section ----*/

.team {
    padding: 40px 25px;
}

.team-content {
    width: 65%;
}

.team-image {
    width: 35%;
}

.team-content {
    margin-right: 40px;
}

.team-content-head {
    font-size: 23px;
    margin-bottom: 15px;
}

.team-content-head h3 {
    color: rgb(134, 112, 112);
}

.title {
    font-size: 19px;
}

.team-members {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
}

.member {
    width: 48%;
    font-size: 20px;
    color: rgb(134, 112, 112);
    background-color: #fff;
    padding: 4px;
    margin: 5px 2px 0;
    cursor: pointer;
}

.member:hover {
    background-color: #f3b72a;
    color: #fff;
}

.team-image {
    background: url("../img/zeus-img.jpg") no-repeat;
    height: auto;
    color: rgb(223, 185, 18);
}

/*---- media queries ----*/

@media (max-width: 1025px) {
    .team {
        padding: 20px 10px;
    }

    .team-content {
        margin-right: 20px;
    }

    .team-content-head {
        font-size: 19px;
    }

    .title {
        font-size: 12px;
    }
}

@media (max-width: 769px) {

    body {
        width: 60%;
    }

    .team {
        flex-direction: column;
    }

    .team-content {
        width: 100%;
        order: 2;
    }
    
    .team-image {
        width: 100%;
        order: 1;
        height: 40vh;
        background-position: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 426px) {
    body {
        width: 70%;
    }

    .member {
        width: 48%;
    }
}

@media (max-width: 376px) {
    body {
        width: 80%;
    }
}

@media (max-width: 321px) {
    body {
        width: 90%;
    }

    #content-head {
        font-size: 20px;
    }

    #title {
        font-size: 19px;
    }

    .member p {
        font-size: 18px;
    }
}
